---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="ZERO Turf Machines"
    image={{
      src: '~/assets/images/team_photo.png',
      alt: 'Team Photo',
    }}
  >
    <Fragment slot="title">
      We believe that your lawn care equipment should be better.
    </Fragment>

    <Fragment slot="subtitle">
      Through our unique combination of vast experience in both electric drivetrain and lawn care equipment, we knew that an all-electric fertilizer spreader was going to be game-changing.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Products that our customers can rely on, that is a joy to use, and vastly improves their lives."
    items={[
      {
        title: 'We are engineers',
        description:
          'High-quality solutions that makes people\'s lives better. That\'s our goal with everything that we do.',
      },
      {
        title: 'We listen',
        description:
          'Great engineering is nothing if it doesn\'t serve the people. We are constantly looking to improve our products to better suit how you use our product.',
      },
      {
        title: 'We stand behind our products',
        description:
          'We hold ourselves to high standards. We want to make sure you absolutely love our product, and tell your friends about it.',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="We want to hear from you"
    tagline="Contact us"
    columns={2}
    items={[
      {
        title: 'Send us a message',
        description:
          'Use the <a class="hover:underline" href="/contact">contact form</a> to send us a message. We\'ll get back to you as quickly as we can.',
        icon: 'tabler:messages',
      },
      {
        title: 'Email us',
        description:
          'Prefer to send us an email? Reach us at <a <a class="hover:underline" href="mailto:sales@zeroturfmachines.com">sales@zeroturfmachines.com</a>.',
        icon: 'tabler:at',
      },
      {
        title: 'Visit us',
        description:
          'We are located 30 minutes outside of Cincinnati. Get directions <a class="hover:underline" target="_blank" href="https://maps.app.goo.gl/sanW1sTkLm91nNXC6">here</a>.',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
