---
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="ZERO Turf Machines"
    image={{
      src: '~/assets/images/team.jpg',
      alt: 'Team Photo',
    }}
  >
    <Fragment slot="title">
      We believe that your lawn care equipment should be better.
    </Fragment>

    <Fragment slot="subtitle">
      Through our unique combination of vast experience in both electric drivetrain and lawn care equipment, we knew that an all-electric fertilizer spreader was going to be game-changing.
    </Fragment>
  </Hero>

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Products that our customers can rely on, that is a joy to use, and vastly improves their lives."
    items={[
      {
        title: 'We are engineers',
        description:
          'High-quality solutions that makes people\'s lives better. That\'s our goal with everything that we do.',
      },
      {
        title: 'We listen',
        description:
          'Great engineering is nothing if it doesn\'t serve the people. We are constantly looking to improve our products to better suit how you use our product.',
      },
      {
        title: 'We stand behind our products',
        description:
          'We hold ourselves to high standards. We want to make sure you absolutely love our product, and tell your friends about it.',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Our Engineers',
        href: '/team',
        icon: 'tabler:users-group',
      },
    ]}
  >
    <Fragment slot="title">
      Meet Our Team
    </Fragment>

    <Fragment slot="subtitle">
      Learn about the engineers who designed and developed the GR-96.
    </Fragment>
  </CallToAction>

  <!-- Features2 Widget ************** -->

  <Features2
    title="We are here to help!"
    items={[
      {
        title: 'General inquiries',
        description: `W're eager to tell you more about our product and all of its features!`,
      },
      {
        title: 'Contact sales',
        description:
          'Talk to us about becoming a dealer or purchasing for your own business.',
      },
      {
        title: 'Technical support',
        description:
          `We're happy to help you through any technical issues you are having.`,
      },
      {
        title: 'Phone',
        description: '+1 (513) 609-9953',
        icon: 'tabler:headset',
      },
      {
        title: 'Email',
        description: '<a class="hover:underline" href="mailto:sales@zeroturfmachines.com">sales@zeroturfmachines.com</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Location',
        description: '<a class="hover:underline" target="_blank" href="https://maps.app.goo.gl/QuY5P8ZhSRU59Fbt7">789 US Route 50, Milford Ohio 45150</a>',
        icon: 'tabler:map-pin',
      },
    ]}
  />
</Layout>
