---
import { YouTube } from 'astro-embed';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import FeaturesWithImage from '~/components/widgets/FeaturesWithImage.astro';
import ImageGallery from '~/components/widgets/ImageGallery.astro';
import { getCollection } from 'astro:content';

const metadata = {
  title: 'ZERO Turf Machines',
  ignoreTitleTemplate: true,
};

const gallery = await getCollection('gallery')
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Preorder',
        href: '/preorder',
        icon: 'tabler:contract',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Silent Electric Turf Machines
    </Fragment>

    <Fragment slot="subtitle">
      A more reliable, cost-efficient alternative for your lawn care operation.
    </Fragment>
  </Hero>

  <YouTube 
    class="mx-auto my-12" 
    id='https://youtu.be/d0yk2lI1sL0'
    params='controls=0&disablekb=1&rel=0'
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Days of Run Time', amount: '3' },
      { title: 'Annual Fuel Cost Savings', amount: '$2000' },
      { title: 'Parts Reduction', amount: '60%' },
    ]}
  />

  <!-- Features Widget *************** -->

  <FeaturesWithImage
    id="features"
    tagline="Features"
    title="Introducing The GR-96"
    subtitle="Industry's first all-electric, stand-behind, zero-turn fertilizer spreader."
    image={{
      src: '~/assets/images/gr96-banner.png',
      alt: 'Team Photo',
    }}
    items={[
      {
        title: 'Charge for Days',
        description:
          "Over three full days of application with plenty of charge to spare. Just plug in overnight to fully recharge.",
        icon: 'tabler:plug',
      },
      {
        title: 'Quiet',
        description:
          "No more noise fatigue. Operators and property owners alike are sure to appreciate that.",
        icon: 'tabler:volume-off',
      },
      {
        title: 'Cost Savings',
        description:
          "Think of how much you spend on fuel. GR-96 will cost around $2 to fully recharge. How much will that save you?",
        icon: 'tabler:currency-dollar',
      },
      {
        title: 'Reliable',
        description:
          "No engine. No hydraulics. With 60% less components in powertrain compared to gas engine alternatives, there is barely anything to maintain.",
        icon: 'tabler:tool',
      },
      {
        title: 'Made In USA',
        description:
          'Engineered and built in Milford, Ohio just outside of Cincinnati.',
        icon: 'tabler:building-factory-2',
      },
      {
        title: 'Excellent Support',
        description:
          'We stand behind our product. If you need help, you will get it from a real, knowledgeable team member based in the USA.',
        icon: 'tabler:heart-handshake',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Coming February 2025"
    title="Manufacturing is Underway"
    items={[
      {
        title: 'Engineered in Ohio',
        description:
          'Our team has decades of combined engineering experience in automotive and alternative energy fields. So you know that the GR-96 is going to be reliable, and a joy to operate.',
      },
      {
        title: 'Tested by local operators',
        description:
          'Thanks to a local lawn care operator, we have gotten many hours of field application testing and feedback from actual operators to help improve our machine.',
      },
      {
        title: 'Hand built in Ohio',
        description:
          'Every part is being carefully put together by our team in Milford Ohio. Your purchase of a GR-96 will also support many local fabricators.',
      },
    ]}
    image={{
      src: '~/assets/images/manufacturing-1.jpg',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The time is finally here</h3>
      We have been engineering this machine for years... we are so excited to share this product with the world.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-zinc-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>


  <!-- Steps Widget ****************** -->

  <Steps
    title="Once you get to know it, you're going to want one <br/>(or more)."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Get in touch with us</span>',
        description:
          "Ask us questions. Will it be up to the task? How much operating costs will you save? Learn about all the great features that we had no room to list on this website.",
        icon: 'tabler:message',
      },
      {
        title: 'Step 2: <span class="font-medium">Test it out</span>',
        description:
          "Let's schedule a demo. You might be surprised how far we're willing to travel to let you see the machine. Or we're happy to do a video call.",
        icon: 'tabler:steering-wheel',
      },
      {
        title: 'Step 3: <span class="font-medium">Place a reservation</span>',
        description:
          'Reservations are fully refundable. It will reserve your spot in the manufacturing queue, ensuring that you will get yours in a timely fashion.',
        icon: 'tabler:contract',
      },
      {
        title: 'Receive it in February 2025!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/gr96-1.jpg',
      alt: 'The GR-96',
    }}
  />

  <ImageGallery 
    title='Photo Gallery'
    images={gallery}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Talk to us',
        href: '/contact',
        icon: 'tabler:message',
      },
      {
        text: 'To YouTube',
        href: 'https://www.youtube.com/@zeroturfmachines',
        target: '_blank',
        icon: 'tabler:brand-youtube',
      },
    ]}
  >
    <Fragment slot="title">
      Curious to learn more?
    </Fragment>

    <Fragment slot="subtitle">
      Send us a message. Or you can check out videos on our <a href="" target="_blank">YouTube channel</a>.
    </Fragment>
  </CallToAction>
</Layout>
